<ng-container *transloco="let t; lang: lang; prefix: 'pages.achievements'">
  <div class="container flex-container-vertical">
    @if (authenticationService.isLoggedIn()) {
      <div class="inner-container">
        <h2>{{ t("title") }}</h2>
        <app-achievement-grid
          [achievements]="achievementService.achievementsBasic()"
        >
        </app-achievement-grid>
        <h2>{{ t("terms.badges.regions.title") }}</h2>
        <app-achievement-grid
          [achievements]="achievementService.achievementsRegions()"
        >
        </app-achievement-grid>

        <h2>{{ t("terms.badges.time-periods.title") }}</h2>

        <app-achievement-grid
          [achievements]="achievementService.achievementsTimePeriods()"
        >
        </app-achievement-grid>
      </div>
      <div class="flex-box"></div>
    }
  </div>
</ng-container>
