@use "../../../../styles";
@use "../../../../sizes";

.container {
  min-height: calc(100vh - 64px);
}

@media #{sizes.$breakpoint-large} {
  .grid.wide {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media #{sizes.$breakpoint-medium} {
  .grid.wide {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.badge {
  padding: 16px;
  cursor: pointer;
  align-items: center;

  .title {
    margin-top: 8px;
    text-align: center;
  }
}

.grey {
  img {
    filter: grayscale(1) opacity(0.4);
  }
}
