<ng-container *transloco="let t; lang: lang; prefix: 'pages.achievements'">
  <div class="grid wide" style="margin-bottom: 16px">
    @for (
      achievement of achievements() | keyvalue: keyValueOrder;
      track achievement.key
    ) {
      <mat-card
        mat-ripple
        class="achievement"
        [ngClass]="{ grey: !achievement.value.achieved }"
        (click)="onAchievementClicked(achievement.value)"
      >
        <img [src]="achievement.value.icon" style="width: 96px" alt="icon" />
        @if (achievement.value.achieved) {
          <strong class="title">{{
            t(
              achievement.value.translation ?? "",
              achievement.value.translationContext
            ) | titlecase
          }}</strong>
          @if (achievement.value.date) {
            {{ achievement.value.date | date: "mediumDate" }}
          }
        } @else {
          <strong class="title">{{ t("terms.badges.unknown") }}</strong>
        }
      </mat-card>
    }
  </div>
</ng-container>
