<ng-container *transloco="let t; lang: lang">
  <div class="footer">
    @if (authenticationService.isLoggedIn()) {
      <div class="footer-section">
        <strong>{{ t("terms.features") }}</strong>
        <ul class="list">
          <li>
            <a
              routerLink="/ebikes"
              [queryParams]="{ theme: themeService.theme() }"
            >{{ t("pages.ebikes.title") }}</a
            >
          </li>
          <li>
            <a
              routerLink="/activities"
              [queryParams]="{ theme: themeService.theme() }"
            >{{ t("pages.activities.title") }}</a
            >
          </li>
          <li>
            <a
              routerLink="/registrations"
              [queryParams]="{ theme: themeService.theme() }"
            >{{ t("pages.registrations.title") }}</a
            >
          </li>
        </ul>
      </div>
    }

    <div class="footer-section">
      <strong>{{ t("terms.development") }}</strong>
      <ul class="list">
        <li>
          <a href="https://open-ebike.github.io/" target="_blank">{{
              t("terms.dev-log")
            }}</a>
        </li>
        <li>
          <a href="https://github.com/open-ebike" target="_blank">{{
              t("terms.github")
            }}</a>
        </li>
      </ul>
    </div>
    <div class="footer-section">
      <strong>{{ t("terms.about") }}</strong>
      <ul class="list">
        <li>
          <a
            routerLink="/contact"
            [queryParams]="{ theme: themeService.theme() }"
          >{{ t("pages.contact.title") }}</a
          >
        </li>
        <li>
          <a
            routerLink="/imprint"
            [queryParams]="{ theme: themeService.theme() }"
          >{{ t("pages.imprint.title") }}</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-2">Open eBike © {{ year }}</div>
</ng-container>
