<ng-container *transloco="let t; lang: lang">
  @if (authenticationService.isLoggedIn()) {
    <div class="footer">
      <div class="footer-section">
        <strong>{{ t("terms.features") }}</strong>
        <ul class="list">
          <li>
            <a routerLink="/ebikes" queryParamsHandling="merge">{{
              t("pages.ebikes.title")
            }}</a>
          </li>
          <li>
            <a routerLink="/activities" queryParamsHandling="merge">{{
              t("pages.activities.title")
            }}</a>
          </li>
          <li>
            <a routerLink="/registrations" queryParamsHandling="merge">{{
              t("pages.registrations.title")
            }}</a>
          </li>
        </ul>
      </div>
    </div>
  }
  <div class="footer-2">Open eBike © {{ year }}</div>
</ng-container>
