<ng-container *transloco="let t; lang: lang">
  @if (authenticationService.isLoggedIn()) {
    <div class="footer">
      <div class="footer-section">
        <strong>{{ t("terms.features") }}</strong>
        <ul class="list">
          <li>
            <a routerLink="/ebikes" queryParamsHandling="merge">{{
              t("pages.ebikes.title")
            }}</a>
          </li>
          <li>
            <a routerLink="/activities" queryParamsHandling="merge">{{
              t("pages.activities.title")
            }}</a>
          </li>
          <li>
            <a routerLink="/registrations" queryParamsHandling="merge">{{
              t("pages.registrations.title")
            }}</a>
          </li>
        </ul>
      </div>
      <div class="footer-section">
        <strong>{{ t("terms.development") }}</strong>
        <ul class="list">
          <li>
            <a href="https://open-ebike.github.io/" target="_blank">{{
              t("terms.dev-log")
            }}</a>
          </li>
          <li>
            <a href="https://github.com/open-ebike" target="_blank">{{
              t("terms.github")
            }}</a>
          </li>
        </ul>
      </div>
      <div class="footer-section">
        <strong>{{ t("terms.about") }}</strong>
        <ul class="list">
          <li>
            <a routerLink="/contact" queryParamsHandling="merge">{{
              t("pages.contact.title")
            }}</a>
          </li>
          <li>
            <a routerLink="/imprint" queryParamsHandling="merge">{{
              t("pages.imprint.title")
            }}</a>
          </li>
        </ul>
      </div>
    </div>
  }
  <div class="footer-2">Open eBike © {{ year }}</div>
</ng-container>
