<ng-container *transloco="let t; lang: lang; prefix: 'pages.achievements'">
  <div style="display: none">
    <img
      #sourceImage
      crossorigin="anonymous"
      [src]="data.imageUrl"
      (load)="onImageLoad()"
      alt="source asset"
    />
  </div>

  <div class="preview-container">
    <canvas #canvas class="preview"></canvas>
  </div>

  <mat-nav-list>
    <a mat-list-item (click)="onShareClicked()">
      <span
        class="material-symbols-outlined"
        style="vertical-align: bottom; margin-right: 8px"
        >share</span
      >
      {{ t("actions.share-achievement") }}
    </a>
  </mat-nav-list>
</ng-container>
