<ng-container *transloco="let t; lang: lang; prefix: 'pages.activities'">
  <div>
    @if (authenticationService.isLoggedIn()) {
      <mat-drawer-container hasBackdrop="true" class="drawer-container">
        <mat-drawer #drawer mode="over" class="drawer" [opened]="!id()">
          <div class="flex-container-vertical" style="height: 100%">
            <mat-list class="activities-list">
              @for (
                activitySummary of activitySummaries();
                track activitySummary
              ) {
                <mat-list-item
                  mat-ripple
                  class="list-item"
                  (click)="onActivityClicked(activitySummary.id)"
                >
                  <mat-icon
                    matListItemIcon
                    class="activity icon"
                    style="margin: 8px"
                    >route
                  </mat-icon>
                  <div matListItemTitle class="title">
                    {{ activitySummary.title }}
                  </div>
                  <div matListItemLine class="subtitle">
                    <span>{{
                      activitySummary.startTime | date: "medium"
                    }}</span>
                    <span class="delimiter">·</span>
                    <span
                      >{{
                        activitySummary.distance | metersToKilometers
                      }}
                      km</span
                    >
                  </div>
                </mat-list-item>
              } @empty {
                <mat-list-item class="list-item"
                  >{{ t("messages.no-activities") }}
                </mat-list-item>
              }
            </mat-list>
            <div class="flex-box"></div>
            <div class="activities-paginator">
              <mat-paginator
                (page)="handlePageEvent($event)"
                [length]="pageTotalLength()"
                [pageSize]="pageSize()"
                [showFirstLastButtons]="'true'"
                [pageSizeOptions]="pageSizeOptions"
                [pageIndex]="pageIndex()"
              >
              </mat-paginator>
            </div>
          </div>
        </mat-drawer>
        <mat-drawer-content>
          <div class="container flex-container-vertical">
            <div class="inner-container" style="height: 92px">
              <h2>
                <span class="material-symbols-outlined activity icon">
                  route
                </span>
                @if (selectedActivity()) {
                  {{ t("terms.activity") }} {{ selectedActivity()?.title }}
                  <span class="delimiter">·</span>
                } @else {
                  {{ t("title") }}
                  <span class="delimiter">·</span>
                }
                <button mat-button (click)="drawer.toggle()">
                  @if (drawer.opened) {
                    {{ t("actions.hide-all") }}
                  } @else {
                    {{ t("actions.show-all") }}
                  }
                </button>
              </h2>
            </div>

            @if (mapboxService.mapboxAccessToken()) {
              <div class="map-container">
                <app-map
                  [id]="mapId"
                  [height]="mapHeight"
                  [style]="mapStyle"
                  [interactiveEnabled]="false"
                  [overlays]="overlays"
                  [boundingBox]="boundingBox"
                ></app-map>
              </div>
            } @else {
              <div class="inner-container">
                @if (selectedActivity()) {
                  <div class="grid">
                    @for (
                      activityDetail of activityDetails();
                      track activityDetail
                    ) {
                      <mat-card mat-ripple>
                        <mat-card-content>
                          <ul class="list">
                            <li>
                              <strong class="label">{{
                                t("terms.distance")
                              }}</strong
                              >:
                              @if (activityDetail?.distance) {
                                {{ activityDetail?.distance }}
                              } @else {
                                <em>{{ t("terms.undefined") }}</em>
                              }
                            </li>
                            <li>
                              <strong class="label">{{
                                t("terms.altitude")
                              }}</strong
                              >:
                              @if (activityDetail?.altitude) {
                                {{ activityDetail?.altitude }} m
                              } @else {
                                <em>{{ t("terms.undefined") }}</em>
                              }
                            </li>
                            <li>
                              <strong class="label">{{
                                t("terms.speed")
                              }}</strong
                              >:
                              @if (activityDetail?.speed) {
                                {{ activityDetail?.speed }} km/h
                              } @else {
                                <em>{{ t("terms.undefined") }}</em>
                              }
                            </li>
                            <li>
                              <strong class="label">{{
                                t("terms.cadence")
                              }}</strong
                              >:
                              @if (activityDetail?.cadence) {
                                {{ activityDetail?.cadence }} rpm
                              } @else {
                                <em>{{ t("terms.undefined") }}</em>
                              }
                            </li>
                            <li>
                              <strong class="label">{{
                                t("terms.latitude")
                              }}</strong
                              >:
                              @if (activityDetail?.latitude) {
                                {{ activityDetail?.latitude }}
                              } @else {
                                <em>{{ t("terms.undefined") }}</em>
                              }
                            </li>
                            <li>
                              <strong class="label">{{
                                t("terms.longitude")
                              }}</strong
                              >:
                              @if (activityDetail?.longitude) {
                                {{ activityDetail?.longitude }}
                              } @else {
                                <em>{{ t("terms.undefined") }}</em>
                              }
                            </li>
                            <li>
                              <strong class="label">{{
                                t("terms.riderPower")
                              }}</strong
                              >:
                              @if (activityDetail?.riderPower) {
                                {{ activityDetail?.riderPower }} W
                              } @else {
                                <em>{{ t("terms.undefined") }}</em>
                              }
                            </li>
                          </ul>
                        </mat-card-content>
                        <mat-card-actions></mat-card-actions>
                        <mat-card-footer></mat-card-footer>
                      </mat-card>
                    }
                  </div>
                }
              </div>
              <div class="flex-box"></div>
            }
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    }
  </div>
</ng-container>
