@use "@angular/material" as mat;
@import "../../../styles";

//
// Overlays
//

$overlay-margin: 32px;
$toolbar-height: 64px;
$expansion-panel-header-height: 64px;

.overlay-left {
  z-index: 1;
  position: absolute;
  top: $toolbar-height;
  left: 0;
  margin: $overlay-margin;
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  max-height: calc(100vh - $toolbar-height - (2 * $overlay-margin));

  @media #{$breakpoint-large} {
    width: 450px;
  }

  @media #{$breakpoint-medium} {
    width: 450px;
  }

  @media #{$breakpoint-small} {
    width: calc(100% - 60px);
  }
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 0 16px !important;
}

.drawer-container {
  height: calc(100vh - 64px);
}

.drawer {
  width: 512px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

$toolbar-height: 64px;
$inner-container-height: 90px;

.container {
  padding: 0;
}

.map-container {
  height: calc(100vh - $toolbar-height - $inner-container-height);
  width: 100%;
}
