<ng-container *transloco="let t; lang: lang; prefix: 'pages.achievements'">
  <div class="container flex-container-vertical">
    @if (authenticationService.isLoggedIn()) {
      <div class="inner-container">
        <h2>{{ t("title") }}</h2>
        <div class="grid wide">
          @for (
            achievement of achievementService.achievements
              | keyvalue: keyValueOrder;
            track achievement.key
          ) {
            <mat-card
              mat-ripple
              class="badge"
              [ngClass]="{ grey: !achievement.value.date }"
            >
              <img
                [src]="achievement.value.icon"
                style="width: 96px"
                alt="icon"
              />
              @if (achievement.value.date) {
                <strong class="title">{{
                  t(achievement.value.translation ?? "") | titlecase
                }}</strong>
                {{ achievement.value.date | date: "mediumDate" }}
              } @else {
                <strong class="title">{{ t("terms.unknown") }}</strong>
              }
            </mat-card>
          }
        </div>
      </div>
      <div class="flex-box"></div>
    }
  </div>
</ng-container>
