<ng-container *transloco="let t; lang: lang; prefix: 'pages.achievements'">
  <div class="container flex-container-vertical">
    @if (authenticationService.isLoggedIn()) {
      <div class="inner-container">
        <div class="flex-container">
          <h2>{{ t("title") }}</h2>
          <div class="flex-box"></div>
          <button
            mat-icon-button
            color="primary"
            class="refresh-button"
            [disabled]="achievementService.loading()"
            (click)="onRefreshClicked()"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>

        @if (achievementService.loading()) {
          <div class="flex-container">
            <p>
              {{ t("actions.calculate-achievements") }} ({{
                achievementService.itemCount()
              }}
              /
              {{ achievementService.totalItemCount() }})
            </p>
            <div class="flex-box"></div>
          </div>
          <mat-progress-bar
            mode="determinate"
            [value]="achievementService.percentage()"
          ></mat-progress-bar>
        }
      </div>
      <div class="inner-container">
        <app-achievement-grid
          [achievements]="achievementService.achievementsBasic()"
        >
        </app-achievement-grid>

        <h2>{{ t("terms.badges.regions.title") }}</h2>

        <app-achievement-grid
          [achievements]="achievementService.achievementsRegions()"
        >
        </app-achievement-grid>

        @for (
          year of Array.from(
            achievementService.achievementsTimePeriods().keys()
          ).reverse();
          track year
        ) {
          <h2>{{ t("terms.badges.time-periods.title") }} {{ year }}</h2>

          <app-achievement-grid
            [achievements]="
              achievementService.achievementsTimePeriods().get(year)!!
            "
          >
          </app-achievement-grid>
        }
      </div>
      <div class="flex-box"></div>
    }
  </div>
</ng-container>
