@use "@angular/material" as mat;
@import "../../../styles";
@import "../../../sizes";

::ng-deep .theme-light {
  .container {
    background: #f6f6f4;
  }
}

::ng-deep .theme-dark {
  .container {
    background: #343332;
  }
}

.container {
  min-height: calc(100vh - 64px);
  padding: 0 16px 16px;
  align-items: center;
  justify-content: center;
}

@media #{$breakpoint-small} {
  .inner-container {
    width: 100%;
  }
}

@media #{$breakpoint-medium} {
  .inner-container {
    width: 960px;
  }
}

@media #{$breakpoint-large} {
  .inner-container {
    width: 960px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media #{$breakpoint-large} {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.ebike-card,
.component-card,
.bike-pass-card {
  min-height: 242px;
}

.ebike-avatar,
.component-avatar,
.bike-pass-avatar {
  background: transparent !important;
}

.ebike-icon,
.component-icon,
.bike-pass-icon {
  padding: 4px;
  margin-right: 8px;
  border-radius: 100%;
}

::ng-deep .theme-light {
  .ebike-icon {
    color: mat.m2-get-color-from-palette($open-ebike-accent, 500);
    background: mix(
      mat.m2-get-color-from-palette($open-ebike-accent, 500),
      transparent,
      20%
    ) !important;
  }

  .component-icon {
    color: mat.m2-get-color-from-palette($open-ebike-primary, 500);
    background: mix(
      mat.m2-get-color-from-palette($open-ebike-primary, 500),
      transparent,
      20%
    ) !important;
  }

  .bike-pass-icon {
    color: mat.m2-get-color-from-palette($open-ebike-secondary, 500);
    background: mix(
      mat.m2-get-color-from-palette($open-ebike-secondary, 500),
      transparent,
      20%
    ) !important;
  }
}

::ng-deep .theme-dark {
  .ebike-icon {
    color: mat.m2-get-color-from-palette($open-ebike-accent, 300);
    background: mix(
      mat.m2-get-color-from-palette($open-ebike-accent, 500),
      transparent,
      20%
    ) !important;
  }

  .component-icon {
    color: mat.m2-get-color-from-palette($open-ebike-primary, 300);
    background: mix(
      mat.m2-get-color-from-palette($open-ebike-primary, 500),
      transparent,
      20%
    ) !important;
  }

  .bike-pass-icon {
    color: mat.m2-get-color-from-palette($open-ebike-secondary, 500);
    background: mix(
      mat.m2-get-color-from-palette($open-ebike-secondary, 500),
      transparent,
      20%
    ) !important;
  }
}

h2,
h3 {
  margin-top: 16px;
}

.list {
  list-style-type: none;
  padding-inline-start: 0;
}

li {
  width: 100%;
}

.label {
  display: inline-block;
  width: 256px;
  max-width: 45%;
}

mat-card {
  cursor: pointer;
}

mat-card-content {
  margin-bottom: 0 !important;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 16px;
}

.no-shadow-accordion {
  border: none !important;

  .mat-expansion-panel {
    box-shadow: none !important;
    margin: 0 !important;
    border-radius: 0 !important;

    .mat-expansion-panel-header {
      border-bottom: none !important;
    }
  }
}
