<ng-container *transloco="let t; lang: lang; prefix: 'pages.ebike-details'">
  <div class="container flex-container-vertical">
    @if (authenticationService.isLoggedIn()) {
      <div class="inner-container">
        <h2>
          <span mat-card-avatar class="ebike-avatar">
            <span class="material-symbols-outlined ebike-icon">
              electric_bike
            </span>
          </span>
          {{ t("title") }}
          {{ ebikeProfile()?.id }}
        </h2>

        <ul class="list">
          <li>
            <strong class="label">{{ t("terms.oem-id") }}</strong
            >:
            @if (ebikeProfile()?.oemId) {
              {{ ebikeProfile()?.oemId }}
            } @else {
              <em>{{ t("terms.undefined") }}</em>
            }
          </li>
          <li>
            <strong class="label">{{ t("terms.created-at") }}</strong
            >:
            @if (ebikeProfile()?.createdAt) {
              {{ ebikeProfile()?.createdAt | date: "medium" }}
            } @else {
              <em>{{ t("terms.undefined") }}</em>
            }
          </li>
          <li>
            <strong class="label">{{ t("terms.language") }}</strong
            >:
            @if (ebikeProfile()?.language) {
              {{ ebikeProfile()?.language }}
            } @else {
              <em>{{ t("terms.undefined") }}</em>
            }
          </li>
        </ul>

        <ul class="list">
          <li>
            <strong class="label">{{ t("terms.service-due-date") }}</strong
            >:
            @if (ebikeProfile()?.serviceDue?.date) {
              {{ ebikeProfile()?.serviceDue?.date | date: "medium" }}
            } @else {
              <em>{{ t("terms.undefined") }}</em>
            }
          </li>
          <li>
            <strong class="label">{{ t("terms.service-due-odometer") }}</strong
            >:
            @if (ebikeProfile()?.serviceDue?.odometer) {
              {{ ebikeProfile()?.serviceDue?.odometer }}
            } @else {
              <em>{{ t("terms.undefined") }}</em>
            }
          </li>
        </ul>

        <h3>{{ t("terms.components") }}</h3>

        <div class="grid">
          @if (ebikeProfile()?.driveUnit) {
            <mat-card
              class="component-card"
              mat-ripple
              [routerLink]="['/component-details', ebikeProfile()?.id]"
              [queryParams]="{
                serialNumber: ebikeProfile()?.driveUnit?.serialNumber,
                partNumber: ebikeProfile()?.driveUnit?.partNumber,
              }"
            >
              <mat-card-header>
                <div mat-card-avatar class="component-avatar">
                  <span class="material-symbols-outlined component-icon">
                    extension
                  </span>
                </div>
                <mat-card-title
                  >{{ ebikeProfile()?.driveUnit?.productName }}
                </mat-card-title>
                <mat-card-subtitle
                  >{{ t("terms.drive-unit") }}
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <ul class="list">
                  <li>
                    <strong class="label">{{ t("terms.serial-number") }}</strong
                    >: {{ ebikeProfile()?.driveUnit?.serialNumber }}
                  </li>
                  <li>
                    <strong class="label">{{ t("terms.part-number") }}</strong
                    >: {{ ebikeProfile()?.driveUnit?.partNumber }}
                  </li>
                </ul>
              </mat-card-content>
              <mat-card-actions></mat-card-actions>
            </mat-card>
          }

          @if (ebikeProfile()?.remoteControl) {
            <mat-card
              class="component-card"
              mat-ripple
              [routerLink]="['/component-details', ebikeProfile()?.id]"
              [queryParams]="{
                serialNumber: ebikeProfile()?.remoteControl?.serialNumber,
                partNumber: ebikeProfile()?.remoteControl?.partNumber,
              }"
            >
              <mat-card-header>
                <div mat-card-avatar class="component-avatar">
                  <span class="material-symbols-outlined component-icon">
                    extension
                  </span>
                </div>
                <mat-card-title
                  >{{ ebikeProfile()?.remoteControl?.productName }}
                </mat-card-title>
                <mat-card-subtitle
                  >{{ t("terms.remote-control") }}
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <ul class="list">
                  <li>
                    <strong class="label">{{ t("terms.serial-number") }}</strong
                    >: {{ ebikeProfile()?.remoteControl?.serialNumber }}
                  </li>
                  <li>
                    <strong class="label">{{ t("terms.part-number") }}</strong
                    >: {{ ebikeProfile()?.remoteControl?.partNumber }}
                  </li>
                </ul>
              </mat-card-content>
              <mat-card-actions></mat-card-actions>
            </mat-card>
          }

          @for (battery of ebikeProfile()?.batteries; track battery) {
            <mat-card
              class="component-card"
              mat-ripple
              [routerLink]="['/component-details', ebikeProfile()?.id]"
              [queryParams]="{
                serialNumber: battery.serialNumber,
                partNumber: battery.partNumber,
              }"
            >
              <mat-card-header>
                <div mat-card-avatar class="component-avatar">
                  <span class="material-symbols-outlined component-icon">
                    battery_charging_full
                  </span>
                </div>
                <mat-card-title>{{ battery.productName }}</mat-card-title>
                <mat-card-subtitle>{{ t("terms.battery") }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <ul class="list">
                  <li>
                    <strong class="label">{{ t("terms.serial-number") }}</strong
                    >: {{ battery.serialNumber }}
                  </li>
                  <li>
                    <strong class="label">{{ t("terms.part-number") }}</strong
                    >: {{ battery.partNumber }}
                  </li>
                </ul>
              </mat-card-content>
              <mat-card-actions></mat-card-actions>
            </mat-card>
          }

          @for (
            antiLockBrakeSystem of ebikeProfile()?.antiLockBrakeSystems;
            track antiLockBrakeSystem
          ) {
            <mat-card
              class="component-card"
              mat-ripple
              [routerLink]="['/component-details', ebikeProfile()?.id]"
              [queryParams]="{
                serialNumber: antiLockBrakeSystem.serialNumber,
                partNumber: antiLockBrakeSystem.partNumber,
              }"
            >
              <mat-card-header>
                <div mat-card-avatar class="component-avatar">
                  <span class="material-symbols-outlined component-icon">
                    extension
                  </span>
                </div>
                <mat-card-title
                  >{{ antiLockBrakeSystem.productName }}
                </mat-card-title>
                <mat-card-subtitle
                  >{{ t("terms.anti-lock-brake-system") }}
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <ul class="list">
                  <li>
                    <strong class="label">{{ t("terms.serial-number") }}</strong
                    >: {{ antiLockBrakeSystem.serialNumber }}
                  </li>
                  <li>
                    <strong class="label">{{ t("terms.part-number") }}</strong
                    >: {{ antiLockBrakeSystem.partNumber }}
                  </li>
                </ul>
              </mat-card-content>
              <mat-card-actions></mat-card-actions>
            </mat-card>
          }

          @if (ebikeProfile()?.connectModule) {
            <mat-card
              class="component-card"
              mat-ripple
              [routerLink]="['/component-details', ebikeProfile()?.id]"
              [queryParams]="{
                serialNumber: ebikeProfile()?.connectModule?.serialNumber,
                partNumber: ebikeProfile()?.connectModule?.partNumber,
              }"
            >
              <mat-card-header>
                <div mat-card-avatar class="component-avatar">
                  <span class="material-symbols-outlined component-icon">
                    extension
                  </span>
                </div>
                <mat-card-title
                  >{{ ebikeProfile()?.connectModule?.productName }}
                </mat-card-title>
                <mat-card-subtitle
                  >{{ t("terms.connect-module") }}
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <ul class="list">
                  <li>
                    <strong class="label">{{ t("terms.serial-number") }}</strong
                    >: {{ ebikeProfile()?.connectModule?.serialNumber }}
                  </li>
                  <li>
                    <strong class="label">{{ t("terms.part-number") }}</strong
                    >: {{ ebikeProfile()?.connectModule?.partNumber }}
                  </li>
                </ul>
              </mat-card-content>
              <mat-card-actions></mat-card-actions>
            </mat-card>
          }

          @if (ebikeProfile()?.headUnit) {
            <mat-card
              class="component-card"
              mat-ripple
              [routerLink]="['/component-details', ebikeProfile()?.id]"
              [queryParams]="{
                serialNumber: ebikeProfile()?.headUnit?.serialNumber,
                partNumber: ebikeProfile()?.headUnit?.partNumber,
              }"
            >
              <mat-card-header>
                <div mat-card-avatar class="component-avatar">
                  <span class="material-symbols-outlined component-icon">
                    tablet
                  </span>
                </div>
                <mat-card-title
                  >{{ ebikeProfile()?.headUnit?.productName }}
                </mat-card-title>
                <mat-card-subtitle
                  >{{ t("terms.head-unit") }}
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <ul class="list">
                  <li>
                    <strong class="label">{{ t("terms.serial-number") }}</strong
                    >: {{ ebikeProfile()?.headUnit?.serialNumber }}
                  </li>
                  <li>
                    <strong class="label">{{ t("terms.part-number") }}</strong
                    >: {{ ebikeProfile()?.headUnit?.partNumber }}
                  </li>
                </ul>
              </mat-card-content>
              <mat-card-actions></mat-card-actions>
            </mat-card>
          }
        </div>

        <h3>{{ t("terms.bike-passes") }}</h3>

        @for (bikePass of bikePasses(); track bikePass) {
          <mat-card class="bike-pass-card" mat-ripple>
            <mat-card-header>
              <div mat-card-avatar class="component-avatar">
                <span class="material-symbols-outlined bike-pass-icon">
                  badge
                </span>
              </div>
              <mat-card-title>{{ t("terms.bike-pass") }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <ul class="list">
                <li>
                  <strong class="label">{{ t("terms.frame-number") }}</strong
                  >: {{ bikePass.frameNumber }}
                </li>
                <li>
                  <strong class="label">{{
                    t("terms.frame-number-position")
                  }}</strong
                  >: {{ bikePass.frameNumberPosition }}
                </li>
                <li>
                  <strong class="label">{{ t("terms.description") }}</strong
                  >: {{ bikePass.description }}
                </li>
                <li>
                  <strong class="label">{{ t("terms.created-at") }}</strong
                  >: {{ bikePass.createdAt }}
                </li>
                <li>
                  <strong class="label">{{ t("terms.updated-at") }}</strong
                  >: {{ bikePass.updatedAt }}
                </li>
              </ul>
            </mat-card-content>
            <mat-card-actions></mat-card-actions>
            <mat-card-footer></mat-card-footer>
          </mat-card>
        }

        <h3>{{ t("terms.installation-reports") }}</h3>

        @for (
          installationReport of installationReports();
          track installationReport
        ) {
          <mat-card class="installation-report-card">
            <mat-card-header>
              <div mat-card-avatar class="installation-report-avatar">
                <span
                  class="material-symbols-outlined installation-report-icon"
                >
                  assignment
                </span>
              </div>
              <mat-card-title
                >{{ t("terms.installation-report") }}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <app-attribute-tree
                [object]="installationReport"
              ></app-attribute-tree>
            </mat-card-content>
            <mat-card-actions></mat-card-actions>
            <mat-card-footer></mat-card-footer>
          </mat-card>
        }

        <h3>{{ t("terms.service-book") }}</h3>

        @for (serviceRecord of serviceRecords(); track serviceRecord) {
          <mat-card class="service-record-card">
            <mat-card-header>
              <div mat-card-avatar class="service-record-avatar">
                <span class="material-symbols-outlined service-record-icon">
                  assignment
                </span>
              </div>
              <mat-card-title>{{ t("terms.service-record") }} </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <app-attribute-tree [object]="serviceRecord"></app-attribute-tree>
            </mat-card-content>
            <mat-card-actions></mat-card-actions>
            <mat-card-footer></mat-card-footer>
          </mat-card>
        }
      </div>
      <div class="flex-box"></div>
    }
  </div>
</ng-container>
