.level-0 {
  padding-left: 0;
}
.level-1 {
  padding-left: 24px;
}
.level-2 {
  padding-left: 48px;
}
.level-3 {
  padding-left: 72px;
}
.level-4 {
  padding-left: 96px;
}
.level-5 {
  padding-left: 120px;
}

.label {
  min-width: 0;
  display: inline-block;
}
