<ng-container *transloco="let t; lang: lang; prefix: 'pages.activities'">
  <div>
    @if (authenticationService.isLoggedIn()) {
      <mat-drawer-container hasBackdrop="true" class="drawer-container">
        <mat-drawer #drawerStart mode="over" class="drawer" [opened]="!id()">
          <div class="flex-container-vertical" style="min-height: 100%">
            <div class="activity-summary">
              <h2>{{ t("terms.activities") }}</h2>
            </div>
            <mat-list class="activities-list">
              @for (
                activitySummary of activitySummaries();
                track activitySummary
              ) {
                <mat-list-item mat-ripple class="list-item">
                  <mat-icon
                    matListItemIcon
                    class="activity icon"
                    style="margin: 8px"
                    >route
                  </mat-icon>
                  <div matListItemTitle class="title">
                    {{ activitySummary.title }}
                  </div>
                  <div matListItemLine class="subtitle">
                    <span>{{
                      activitySummary.startTime | date: "medium"
                    }}</span>
                    <span class="delimiter">·</span>
                    <span
                      >{{
                        activitySummary.totalDistance | metersToKilometers
                      }}
                      km</span
                    >
                  </div>
                </mat-list-item>
              } @empty {
                <mat-list-item class="list-item"
                  >{{ t("messages.no-activities") }}
                </mat-list-item>
              }
            </mat-list>
            <div class="flex-box"></div>
            <div class="activities-paginator">
              <mat-paginator
                (page)="handlePageEvent($event)"
                [length]="pageTotalLength()"
                [pageSize]="pageSize()"
                [showFirstLastButtons]="'true'"
                [pageSizeOptions]="pageSizeOptions"
                [pageIndex]="pageIndex()"
              >
              </mat-paginator>
            </div>
          </div>
        </mat-drawer>
        <mat-drawer-content>
          <div class="container flex-container-vertical">
            <div class="inner-container" style="height: 124px">
              <h2>
                <span class="material-symbols-outlined activity icon">
                  route
                </span>
                {{ t("title") }}
                <span class="delimiter">·</span>
                <button mat-button (click)="drawerStart.toggle()">
                  @if (drawerStart.opened) {
                    {{ t("actions.hide-all") }}
                  } @else {
                    {{ t("actions.show-all") }}
                  }
                </button>
              </h2>
            </div>
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    }
  </div>
</ng-container>
