<ng-container *transloco="let t; lang: lang; prefix: 'pages.activities'">
  <div>
    @if (authenticationService.isLoggedIn()) {
      <mat-drawer-container hasBackdrop="true" class="drawer-container">
        <mat-drawer #drawerStart mode="over" class="drawer">
          <div class="flex-container-vertical" style="min-height: 100%">
            <div class="activity-summary">
              <h2>{{ t("terms.activities") }}</h2>
            </div>
            <mat-list class="activities-list">
              @for (
                activitySummary of activitySummaries();
                track activitySummary
              ) {
                <mat-list-item
                  mat-ripple
                  class="list-item"
                  (click)="onActivityClicked(activitySummary.id)"
                >
                  <mat-icon
                    matListItemIcon
                    class="activity icon"
                    style="margin: 8px"
                    >route
                  </mat-icon>
                  <div matListItemTitle class="title">
                    {{ activitySummary.title }}
                  </div>
                  <div matListItemLine class="subtitle">
                    <span>{{
                      activitySummary.startTime | date: "medium"
                    }}</span>
                    <span class="delimiter">·</span>
                    <span
                      >{{
                        activitySummary.totalDistance | metersToKilometers
                      }}
                      km</span
                    >
                  </div>
                </mat-list-item>
              } @empty {
                <mat-list-item class="list-item"
                  >{{ t("messages.no-activities") }}
                </mat-list-item>
              }
            </mat-list>
            <div class="flex-box"></div>
            <div class="activities-paginator">
              <mat-paginator
                (page)="handlePageEvent($event)"
                [length]="pageTotalLength()"
                [pageSize]="pageSize()"
                [showFirstLastButtons]="'true'"
                [pageSizeOptions]="pageSizeOptions"
                [pageIndex]="pageIndex()"
              >
              </mat-paginator>
            </div>
          </div>
        </mat-drawer>
        <mat-drawer #drawerEnd mode="over" class="drawer" position="end">
          <div class="activity-summary">
            @if (selectedActivity()) {
              <h2>{{ t("terms.activity-summary") }}</h2>
              <ul class="list">
                <li>
                  <strong class="label">{{ t("terms.start-time") }}</strong
                  >:
                  @if (selectedActivity()?.startTime) {
                    {{ selectedActivity()?.startTime | date: "medium" }}
                  } @else {
                    <em>{{ t("terms.undefined") }}</em>
                  }
                </li>
                <li>
                  <strong class="label">{{ t("terms.is-completed") }}</strong
                  >:
                  @if (selectedActivity()?.isCompleted) {
                    {{ selectedActivity()?.isCompleted }}
                  } @else {
                    <em>{{ t("terms.undefined") }}</em>
                  }
                </li>
                <li>
                  <strong class="label">{{ t("terms.total-distance") }}</strong
                  >:
                  @if (selectedActivity()?.totalDistance) {
                    {{
                      selectedActivity()?.totalDistance ?? 0
                        | metersToKilometers
                    }}
                    km
                  } @else {
                    <em>{{ t("terms.undefined") }}</em>
                  }
                </li>
                <li>
                  <strong class="label">{{ t("terms.end-time") }}</strong
                  >:
                  @if (selectedActivity()?.endTime) {
                    {{ selectedActivity()?.endTime | date: "medium" }}
                  } @else {
                    <em>{{ t("terms.undefined") }}</em>
                  }
                </li>
                <li>
                  <strong class="label">{{
                    t("terms.duration-without-stops")
                  }}</strong
                  >:
                  @if (selectedActivity()?.durationWithoutStops) {
                    {{
                      selectedActivity()?.durationWithoutStops
                        | date: "H:mm:ss" : "UTC"
                    }}
                  } @else {
                    <em>{{ t("terms.undefined") }}</em>
                  }
                </li>
              </ul>

              @for (bikeRide of selectedActivity()?.bikeRides; track bikeRide) {
                <h3>{{ t("terms.bike-ride") }}</h3>
                <ul class="list">
                  <li>
                    <strong class="label">{{
                      t("terms.calories-burned")
                    }}</strong
                    >:
                    @if (bikeRide.caloriesBurned) {
                      {{ bikeRide.caloriesBurned }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                  <li>
                    <strong class="label">{{ t("terms.speed-average") }}</strong
                    >:
                    @if (bikeRide.avgSpeed) {
                      {{ bikeRide.avgSpeed }} km/h
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                  <li>
                    <strong class="label">{{ t("terms.speed-maximum") }}</strong
                    >:
                    @if (bikeRide.maxSpeed) {
                      {{ bikeRide.maxSpeed }} km/h
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                </ul>
              }

              @if (activityDetails()) {
                <h2>{{ t("terms.activity-details") }}</h2>
                <ul class="list">
                  <li>
                    <strong class="label">{{
                      t("terms.duration-with-stops")
                    }}</strong
                    >:
                    @if (activityDetails()?.durationWithStops) {
                      {{
                        activityDetails()?.durationWithStops
                          | date: "H:mm:ss" : "UTC"
                      }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                  <li>
                    <strong class="label">{{
                      t("terms.calories-burned")
                    }}</strong
                    >:
                    @if (activityDetails()?.caloriesBurned) {
                      {{ activityDetails()?.caloriesBurned }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                  <li>
                    <strong class="label">{{
                      t("terms.total-rider-consumption")
                    }}</strong
                    >:
                    @if (activityDetails()?.totalRiderConsumption) {
                      {{ activityDetails()?.totalRiderConsumption }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                  <li>
                    <strong class="label">{{
                      t("terms.total-battery-consumption")
                    }}</strong
                    >:
                    @if (activityDetails()?.totalBatteryConsumption) {
                      {{ activityDetails()?.totalBatteryConsumption }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                </ul>

                @if (
                  activityDetails()?.significantAssistanceLevels ||
                  activityDetails()?.insignificantAssistanceLevelsSum
                ) {
                  <h3>{{ t("terms.assistance-levels") }}</h3>
                  <ul class="list">
                    @for (
                      assistanceLevel of activityDetails()
                        ?.significantAssistanceLevels;
                      track assistanceLevel
                    ) {
                      <li>
                        <strong class="label"
                          >{{ t("terms.level") }}
                          {{ assistanceLevel.level }}</strong
                        >: {{ t("terms.value") }}
                        {{ assistanceLevel.value }}
                      </li>
                    }
                  </ul>
                  <ul class="list">
                    <li>
                      <strong class="label">{{
                        t("terms.insignificant-assistance-levels-sum")
                      }}</strong
                      >:
                      @if (
                        activityDetails()?.insignificantAssistanceLevelsSum
                      ) {
                        {{
                          activityDetails()?.insignificantAssistanceLevelsSum
                        }}
                      } @else {
                        <em>{{ t("terms.undefined") }}</em>
                      }
                    </li>
                  </ul>
                }

                <ul class="list">
                  <li>
                    <strong class="label">{{ t("terms.speed-average") }}</strong
                    >:
                    @if (activityDetails()?.avgSpeed) {
                      {{ activityDetails()?.avgSpeed }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                  <li>
                    <strong class="label">{{
                      t("terms.heart-rate-average")
                    }}</strong
                    >:
                    @if (activityDetails()?.avgHeartRate) {
                      {{ activityDetails()?.avgHeartRate }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                  <li>
                    <strong class="label">{{
                      t("terms.cadence-average")
                    }}</strong
                    >:
                    @if (activityDetails()?.avgCadence) {
                      {{ activityDetails()?.avgCadence }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                  <li>
                    <strong class="label">{{
                      t("terms.cadence-average")
                    }}</strong
                    >:
                    @if (activityDetails()?.avgAltitude) {
                      {{ activityDetails()?.avgAltitude }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                </ul>
                <ul class="list">
                  <li>
                    <strong class="label">{{ t("terms.speed-maximum") }}</strong
                    >:
                    @if (activityDetails()?.maxSpeed) {
                      {{ activityDetails()?.maxSpeed }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                  <li>
                    <strong class="label">{{
                      t("terms.heart-rate-maximum")
                    }}</strong
                    >:
                    @if (activityDetails()?.maxHeartRate) {
                      {{ activityDetails()?.maxHeartRate }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                  <li>
                    <strong class="label">{{
                      t("terms.cadence-maximum")
                    }}</strong
                    >:
                    @if (activityDetails()?.maxCadence) {
                      {{ activityDetails()?.maxCadence }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                  <li>
                    <strong class="label">{{
                      t("terms.cadence-maximum")
                    }}</strong
                    >:
                    @if (activityDetails()?.maxAltitude) {
                      {{ activityDetails()?.maxAltitude }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                </ul>
                <ul class="list">
                  <li>
                    <strong class="label">{{ t("terms.fitness-level") }}</strong
                    >:
                    @if (activityDetails()?.fitnessLevel) {
                      {{ activityDetails()?.fitnessLevel }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                  <li>
                    <strong class="label">{{ t("terms.fitness-level") }}</strong
                    >:
                    @if (activityDetails()?.trainingEffect) {
                      {{ activityDetails()?.trainingEffect }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                  <li>
                    <strong class="label">{{
                      t("terms.training-load-peak")
                    }}</strong
                    >:
                    @if (activityDetails()?.trainingLoadPeak) {
                      {{ activityDetails()?.trainingLoadPeak }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                  <li>
                    <strong class="label">{{ t("terms.speed-weight") }}</strong
                    >:
                    @if (activityDetails()?.speedWeight) {
                      {{ activityDetails()?.speedWeight }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                  <li>
                    <strong class="label">{{
                      t("terms.cadence-weight")
                    }}</strong
                    >:
                    @if (activityDetails()?.cadenceWeight) {
                      {{ activityDetails()?.cadenceWeight }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                  <li>
                    <strong class="label">{{
                      t("terms.heart-rate-weight")
                    }}</strong
                    >:
                    @if (activityDetails()?.heartRateWeight) {
                      {{ activityDetails()?.heartRateWeight }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                  <li>
                    <strong class="label">{{
                      t("terms.rider-power-weight")
                    }}</strong
                    >:
                    @if (activityDetails()?.riderPowerWeight) {
                      {{ activityDetails()?.riderPowerWeight }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                </ul>
                <ul class="list">
                  <li>
                    <strong class="label">{{
                      t("terms.is-significant")
                    }}</strong
                    >:
                    @if (activityDetails()?.isSignificant) {
                      {{ activityDetails()?.isSignificant }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                </ul>
                <ul class="list">
                  <li>
                    <strong class="label">{{
                      t("terms.elevation-gain")
                    }}</strong
                    >:
                    @if (activityDetails()?.elevationGain) {
                      {{ activityDetails()?.elevationGain }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                  <li>
                    <strong class="label">{{
                      t("terms.elevation-loss")
                    }}</strong
                    >:
                    @if (activityDetails()?.elevationLoss) {
                      {{ activityDetails()?.elevationLoss }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                  <li>
                    <strong class="label">{{
                      t("terms.rider-power-average")
                    }}</strong
                    >:
                    @if (activityDetails()?.avgRiderPower) {
                      {{ activityDetails()?.avgRiderPower }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                </ul>
                <ul class="list">
                  <li>
                    <strong class="label">{{
                      t("terms.drive-unit-serial-number")
                    }}</strong
                    >:
                    @if (activityDetails()?.driveUnitSerialNumber) {
                      {{ activityDetails()?.driveUnitSerialNumber }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                  <li>
                    <strong class="label">{{
                      t("terms.drive-unit-part-number")
                    }}</strong
                    >:
                    @if (activityDetails()?.driveUnitPartNumber) {
                      {{ activityDetails()?.driveUnitPartNumber }}
                    } @else {
                      <em>{{ t("terms.undefined") }}</em>
                    }
                  </li>
                </ul>
              }
            }
          </div>
        </mat-drawer>
        <mat-drawer-content>
          <div class="container flex-container-vertical">
            <div class="inner-container" style="height: 124px">
              <h2>
                <span class="material-symbols-outlined activity icon">
                  route
                </span>
                @if (selectedActivity()) {
                  {{ selectedActivity()?.title }}
                } @else {
                  {{ t("title") }}
                }
                <span class="delimiter">·</span>
                <button mat-button (click)="drawerStart.toggle()">
                  @if (drawerStart.opened) {
                    {{ t("actions.hide-all") }}
                  } @else {
                    {{ t("actions.show-all") }}
                  }
                </button>
                @if (selectedActivity()) {
                  <span class="delimiter">·</span>
                  <button mat-button (click)="drawerEnd.toggle()">
                    @if (drawerEnd.opened) {
                      {{ t("actions.hide-summary") }}
                    } @else {
                      {{ t("actions.show-summary") }}
                    }
                  </button>
                }
              </h2>
            </div>

            @if (mapboxService.mapboxAccessToken()) {
              <div class="map-container">
                <app-map
                  [id]="mapId"
                  [height]="mapHeight"
                  [style]="mapStyle"
                  [interactiveEnabled]="false"
                  [overlays]="overlays"
                  [boundingBox]="boundingBox"
                ></app-map>
              </div>
            } @else {
              <div class="inner-container">
                @if (activityDetails()) {
                  <div class="grid">
                    @for (
                      outer of activityDetails()?.coordinates;
                      track outer;
                      let outerIndex = $index
                    ) {
                      @for (
                        inner of outer;
                        track inner;
                        let innerIndex = $index
                      ) {
                        <mat-card mat-ripple>
                          <mat-card-content>
                            <ul class="list">
                              <li>
                                <strong class="label">{{
                                  t("terms.altitude")
                                }}</strong
                                >:
                                {{
                                  activityDetails()?.altitudes?.[outerIndex]?.[
                                    innerIndex
                                  ]
                                }}
                              </li>
                              <li>
                                <strong class="label">{{
                                  t("terms.cadence")
                                }}</strong
                                >:
                                {{
                                  activityDetails()?.cadence?.[outerIndex]?.[
                                    innerIndex
                                  ]
                                }}
                              </li>

                              <li>
                                <strong class="label">{{
                                  t("terms.heart-rate")
                                }}</strong
                                >:
                                {{
                                  activityDetails()?.heartRate?.[outerIndex]?.[
                                    innerIndex
                                  ]
                                }}
                              </li>
                              <li>
                                <strong class="label">{{
                                  t("terms.speed")
                                }}</strong
                                >:
                                {{
                                  activityDetails()?.speed?.[outerIndex]?.[
                                    innerIndex
                                  ]
                                }}
                              </li>
                            </ul>
                            <ul class="list">
                              <li>
                                <strong class="label">{{
                                  t("terms.latitude")
                                }}</strong
                                >:
                                {{
                                  activityDetails()?.coordinates?.[
                                    outerIndex
                                  ]?.[innerIndex]?.latitude
                                }}
                              </li>
                              <li>
                                <strong class="label">{{
                                  t("terms.longitude")
                                }}</strong
                                >:
                                {{
                                  activityDetails()?.coordinates?.[
                                    outerIndex
                                  ]?.[innerIndex]?.longitude
                                }}
                              </li>
                            </ul>
                          </mat-card-content>
                          <mat-card-actions></mat-card-actions>
                          <mat-card-footer></mat-card-footer>
                        </mat-card>
                      }
                    }
                  </div>
                }
              </div>
              <div class="flex-box"></div>
            }
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    }
  </div>
</ng-container>
