@use "../../../sizes";

.question {
  font-weight: bolder;
}

.form {
  margin: 32px 0 32px;
}

.form,
mat-form-field {
  width: 100%;
}

@media #{sizes.$breakpoint-large} {
  .grid.wide {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
