@use "../../../sizes";

.carousel-container {
  width: 100%;
  overflow: hidden;
}

$carousel-gap: 16px;

.carousel-track {
  display: flex;
  gap: $carousel-gap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 16px;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel-track > :first-child {
  margin-left: $carousel-gap;
}

.carousel-track > :last-child {
  margin-right: $carousel-gap;
}

.carousel-item {
  cursor: pointer;
  scroll-snap-align: center;
}

@media #{sizes.$breakpoint-small} {
  .achievement {
    width: calc(100vw - 32px);
    height: calc(100vw - 32px);
  }
}
