<ng-container *transloco="let t; lang: lang; prefix: 'pages.ebikes'">
  <div class="container flex-container-vertical">
    @if (authenticationService.isLoggedIn()) {
      <div class="inner-container">
        <h2>{{ t("title") }}</h2>
        <div class="grid wide">
          @for (ebikeProfile of ebikeProfiles(); track ebikeProfile) {
            <mat-card
              mat-ripple
              [routerLink]="['/bes2/ebike-details']"
              [queryParams]="{
                theme: themeService.theme(),
                duPartNumber: ebikeProfile.driveUnit.partNumber,
                duSerialNumber: ebikeProfile.driveUnit.serialNumber,
              }"
            >
              <mat-card-header>
                <div mat-card-avatar>
                  <span class="material-symbols-outlined ebike icon">
                    electric_bike
                  </span>
                </div>
                <mat-card-title>{{ t("terms.ebike") }}</mat-card-title>
                <mat-card-subtitle>
                  {{ t("terms.drive-unit-part-number") }}
                  {{ ebikeProfile.driveUnit.partNumber }}
                  <span class="delimiter">·</span>
                  {{ t("terms.drive-unit-serial-number") }}
                  {{ ebikeProfile.driveUnit.serialNumber }}
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content></mat-card-content>
              <mat-card-actions></mat-card-actions>
              <mat-card-footer></mat-card-footer>
            </mat-card>
          } @empty {
            {{ t("messages.no-ebikes") }}
          }
        </div>
        <div class="context-box" style="margin-top: 24px">
          <div
            [innerHTML]="
              t('messages.missing-ebikes', {
                clientId: authenticationService.clientId(),
              })
            "
          ></div>
        </div>
      </div>
      <div class="flex-box"></div>
    }
  </div>
</ng-container>
