<ng-container *transloco="let t; lang: lang; prefix: 'pages.home'">
  <div class="container flex-container">
    @if (authenticationService.isLoggedIn()) {
      <div class="text">
        <h2>
          {{
            t("terms.hello", {
              username: authenticationService.getIdentityClaims().email,
            })
          }}
        </h2>
      </div>
    } @else {
      <button mat-flat-button color="primary" routerLink="/login">
        {{ t("actions.enter-client-credentials-login") }}
      </button>
    }
  </div>
</ng-container>
