@use "@angular/material" as mat;
@import "../../../styles";

::ng-deep .theme-light {
  .container {
    background: #f6f6f4;
  }
}

::ng-deep .theme-dark {
  .container {
    background: #343332;
  }
}

.container {
  min-height: calc(100vh - 64px);
  padding: 0 16px 16px;
  align-items: center;
  justify-content: center;
}

.text {
  max-width: 960px;
  margin: 32px;
}

h2 {
  margin-top: 32px;
}
