@use "@angular/material" as mat;
@import "../../../styles";

::ng-deep .theme-light {
  .container {
    background: #f6f6f4;
    height: calc(100vh - 64px);
  }
}

::ng-deep .theme-dark {
  .container {
    background: #343332;
    height: calc(100vh - 64px);
  }
}
