<ng-container *transloco="let t; lang: lang">
  <div [class]="themeService.theme()">
    <mat-toolbar class="toolbar flex-container">
      <div class="toolbar-block start">
        <a [routerLink]="['/']" [queryParams]="{ theme: themeService.theme() }">
          @if (themeService.theme() == themeEnum.LIGHT) {
            <img
              id="logo-light"
              src="assets/logos/logo-with-text.png"
              alt="logo"
            />
          }
          @if (themeService.theme() == themeEnum.DARK) {
            <img
              id="logo-dark"
              src="assets/logos/logo-with-text-dark.png"
              alt="logo"
            />
          }
        </a>
      </div>
      @if (mediaService.media() > mediaEnum.SMALL) {
        <div class="toolbar-block start">
          <button
            mat-button
            class="toolbar-menu-item"
            routerLinkActive="toolbar-menu-item-active"
            routerLink="/home"
            [queryParams]="{ theme: themeService.theme() }"
          >
            {{ t("pages.home.title") }}
          </button>
          @if (authenticationService.isLoggedIn()) {
            @if (authenticationService.ebikeGeneration() == "BES3") {
              <button
                mat-button
                class="toolbar-menu-item"
                routerLinkActive="toolbar-menu-item-active"
                routerLink="/bes3/ebikes"
                [queryParams]="{ theme: themeService.theme() }"
              >
                {{ t("pages.ebikes.title") }}
              </button>
              <button
                mat-button
                class="toolbar-menu-item"
                routerLinkActive="toolbar-menu-item-active"
                routerLink="/bes3/activities"
                [queryParams]="{ theme: themeService.theme() }"
              >
                {{ t("pages.activities.title") }}
              </button>
              <button
                mat-button
                class="toolbar-menu-item"
                routerLinkActive="toolbar-menu-item-active"
                routerLink="/bes3/registrations"
                [queryParams]="{ theme: themeService.theme() }"
              >
                {{ t("pages.registrations.title") }}
              </button>
            }
            @if (authenticationService.ebikeGeneration() == "BES2") {
              <button
                mat-button
                class="toolbar-menu-item"
                routerLinkActive="toolbar-menu-item-active"
                routerLink="/bes2/ebikes"
                [queryParams]="{ theme: themeService.theme() }"
              >
                {{ t("pages.ebikes.title") }}
              </button>
              <button
                mat-button
                class="toolbar-menu-item"
                routerLinkActive="toolbar-menu-item-active"
                routerLink="/bes2/activities"
                [queryParams]="{ theme: themeService.theme() }"
              >
                {{ t("pages.activities.title") }}
              </button>
              <button
                mat-button
                class="toolbar-menu-item"
                routerLinkActive="toolbar-menu-item-active"
                routerLink="/bes2/statistics"
                [queryParams]="{ theme: themeService.theme() }"
              >
                {{ t("pages.statistics.title") }}
              </button>
            }
            @if (authenticationService.ebikeGeneration() == "COBI") {
              <button
                mat-button
                class="toolbar-menu-item"
                routerLinkActive="toolbar-menu-item-active"
                routerLink="/cobi/hubs"
                [queryParams]="{ theme: themeService.theme() }"
              >
                {{ t("pages.hubs.title") }}
              </button>
            }
          }
        </div>
        <div class="flex-box"></div>
        <div class="toolbar-block end">
          @if (
            authenticationService.isLoggedIn() &&
            environment.mapboxAccessToken == null
          ) {
            <button
              mat-button
              class="toolbar-menu-item"
              routerLinkActive="toolbar-menu-item-active"
              routerLink="/configuration"
              [queryParams]="{ theme: themeService.theme() }"
            >
              <span class="material-symbols-outlined toolbar-icon"
                >settings</span
              >
            </button>
          }
          @if (themeService.theme() === themeEnum.LIGHT) {
            <button
              mat-button
              class="toolbar-menu-item"
              (click)="onDarkModeClicked()"
            >
              <span class="material-symbols-outlined toolbar-icon"
                >dark_mode</span
              >
            </button>
          }
          @if (themeService.theme() === themeEnum.DARK) {
            <button
              mat-button
              class="toolbar-menu-item"
              (click)="onLightModeClicked()"
            >
              <span class="material-symbols-outlined toolbar-icon"
                >light_mode</span
              >
            </button>
          }
          <button
            mat-button
            class="toolbar-menu-item"
            routerLinkActive="toolbar-menu-item-active"
            routerLink="/contact"
            [queryParams]="{ theme: themeService.theme() }"
          >
            {{ t("pages.contact.title") }}
          </button>
          <button
            mat-button
            class="toolbar-menu-item"
            routerLinkActive="toolbar-menu-item-active"
            routerLink="/imprint"
            [queryParams]="{ theme: themeService.theme() }"
          >
            {{ t("pages.imprint.title") }}
          </button>
          @if (authenticationService.isLoggedIn()) {
            <button
              mat-button
              class="toolbar-menu-item"
              (click)="authenticationService.logout()"
            >
              {{ t("actions.logout") }}
            </button>
          } @else {
            <button mat-button class="toolbar-menu-item" routerLink="/login">
              {{ t("pages.login.title") }}
            </button>
          }
        </div>
      } @else {
        <div class="flex-box"></div>
        <div class="toolbar-block end">
          <button
            mat-button
            class="toolbar-menu-item"
            [matMenuTriggerFor]="menu"
          >
            <span class="material-symbols-outlined toolbar-icon"
              >more_vert</span
            >
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              class="toolbar-menu-item"
              routerLinkActive="toolbar-menu-item-active"
              routerLink="/home"
              [queryParams]="{ theme: themeService.theme() }"
            >
              {{ t("pages.home.title") }}
            </button>
            @if (authenticationService.isLoggedIn()) {
              @if (authenticationService.ebikeGeneration() == "BES3") {
                <button
                  mat-menu-item
                  class="toolbar-menu-item"
                  routerLinkActive="toolbar-menu-item-active"
                  routerLink="/bes3/ebikes"
                  [queryParams]="{ theme: themeService.theme() }"
                >
                  {{ t("pages.ebikes.title") }}
                </button>
                <button
                  mat-menu-item
                  class="toolbar-menu-item"
                  routerLinkActive="toolbar-menu-item-active"
                  routerLink="/bes3/activities"
                  queryParamsHandling="merge"
                >
                  {{ t("pages.activities.title") }}
                </button>
                <button
                  mat-menu-item
                  class="toolbar-menu-item"
                  routerLinkActive="toolbar-menu-item-active"
                  routerLink="/bes3/registrations"
                  [queryParams]="{ theme: themeService.theme() }"
                >
                  {{ t("pages.registrations.title") }}
                </button>
              }
              @if (authenticationService.ebikeGeneration() == "BES2") {
                <button
                  mat-menu-item
                  class="toolbar-menu-item"
                  routerLinkActive="toolbar-menu-item-active"
                  routerLink="/bes2/ebikes"
                  [queryParams]="{ theme: themeService.theme() }"
                >
                  {{ t("pages.ebikes.title") }}
                </button>
                <button
                  mat-menu-item
                  class="toolbar-menu-item"
                  routerLinkActive="toolbar-menu-item-active"
                  routerLink="/bes2/activities"
                  [queryParams]="{ theme: themeService.theme() }"
                >
                  {{ t("pages.activities.title") }}
                </button>
                <button
                  mat-menu-item
                  class="toolbar-menu-item"
                  routerLinkActive="toolbar-menu-item-active"
                  routerLink="/bes2/statistics"
                  [queryParams]="{ theme: themeService.theme() }"
                >
                  {{ t("pages.statistics.title") }}
                </button>
              }
              @if (authenticationService.ebikeGeneration() == "COBI") {
                <button
                  mat-menu-item
                  class="toolbar-menu-item"
                  routerLinkActive="toolbar-menu-item-active"
                  routerLink="/cobi/hubs"
                  [queryParams]="{ theme: themeService.theme() }"
                >
                  {{ t("pages.hubs.title") }}
                </button>
              }
              <button
                mat-menu-item
                class="toolbar-menu-item"
                routerLinkActive="toolbar-menu-item-active"
                routerLink="/configuration"
                [queryParams]="{ theme: themeService.theme() }"
              >
                <span class="material-symbols-outlined toolbar-icon"
                  >settings</span
                >
                {{ t("pages.configuration.title") }}
              </button>
            }
            @if (themeService.theme() === themeEnum.LIGHT) {
              <button
                mat-menu-item
                class="toolbar-menu-item"
                (click)="onDarkModeClicked()"
              >
                <span class="material-symbols-outlined toolbar-icon"
                  >dark_mode</span
                >
                {{ t("actions.switch-to-dark-mode") }}
              </button>
            }
            @if (themeService.theme() === themeEnum.DARK) {
              <button
                mat-menu-item
                class="toolbar-menu-item"
                (click)="onLightModeClicked()"
              >
                <span class="material-symbols-outlined toolbar-icon"
                  >light_mode</span
                >
                {{ t("actions.switch-to-light-mode") }}
              </button>
            }
            <button
              mat-menu-item
              class="toolbar-menu-item"
              routerLinkActive="toolbar-menu-item-active"
              routerLink="/contact"
              [queryParams]="{ theme: themeService.theme() }"
            >
              {{ t("pages.contact.title") }}
            </button>
            <button
              mat-menu-item
              class="toolbar-menu-item"
              routerLinkActive="toolbar-menu-item-active"
              routerLink="/imprint"
              [queryParams]="{ theme: themeService.theme() }"
            >
              {{ t("pages.imprint.title") }}
            </button>
            @if (authenticationService.isLoggedIn()) {
              <button
                mat-menu-item
                class="toolbar-menu-item"
                (click)="authenticationService.logout()"
              >
                {{ t("actions.logout") }}
              </button>
            } @else {
              <button
                mat-menu-item
                class="toolbar-menu-item"
                routerLink="/login"
              >
                {{ t("pages.login.title") }}
              </button>
            }
          </mat-menu>
        </div>
      }
    </mat-toolbar>
  </div>
</ng-container>
