@use "../../../sizes";

//
// Custom
//

.toolbar-menu-item {
  @media #{sizes.$breakpoint-small} {
    padding: 0 10px;
  }
  @media #{sizes.$breakpoint-medium} {
    padding: 0 10px;
  }
  @media #{sizes.$breakpoint-large} {
    padding: 0 20px;
  }
}

.toolbar-menu-item-active {
  color: var(--toolbar-menu-item-active-color) !important;
}

.toolbar-block {
  padding-left: 10px;
  padding-right: 10px;
}

.start {
  text-align: start;
}

.end {
  text-align: end;
}

.login-button,
.logout-button {
  width: 80px;
}

#logo-light,
#logo-dark {
  height: 52px;
  vertical-align: middle;
}

.toolbar-icon {
  vertical-align: middle;
}

//
// Material
//

mat-toolbar {
  box-shadow: 0 0 0 0 transparent !important;
  font-weight: bolder;
}

mat-toolbar {
  @media #{sizes.$breakpoint-small} {
    padding: 0 !important;
  }
}

.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 100% !important;
}
