@use "@angular/material" as mat;
@import "../../../styles";
@import "../../../sizes";

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

mat-card {
  cursor: pointer;
}

mat-card-content {
  margin-bottom: 0 !important;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 16px;
}
