<ng-container
  *transloco="let t; lang: lang; prefix: 'pages.yearly-achievements'"
>
  <div class="container flex-container-vertical">
    @if (authenticationService.isLoggedIn()) {
      <div class="inner-container">
        <h2>{{ t("title") }}</h2>
        <app-yearly-achievement-grid
          [yearlyAchievements]="yearlyAchievementService.yearlyAchievements()"
          [(yearSelected)]="yearSelected"
        ></app-yearly-achievement-grid>

        @if (yearSelected()) {
          <h2>
            {{ t("terms.your-yearly-achievements", { year: yearSelected() }) }}
          </h2>
        }
      </div>
      <div class="flex-box"></div>
    }
  </div>
</ng-container>
