@use "@angular/material" as mat;
@use "sass:color";

@import "theme.scss";
@import "sizes.scss";
@import "flex.scss";

@include mat.all-component-themes($theme-light);

//
// Light theme
//

.theme-light {
  //@include mat.all-component-themes($theme-light);

  a {
    color: #424242;
    text-decoration-style: dotted;
  }

  .container {
    background: #f6f6f4;
  }

  .ebike,
  .ebike-registered,
  .activity {
    color: mat.m2-get-color-from-palette($open-ebike-accent, 500);
  }

  .ebike.icon,
  .activity.icon {
    background: color.mix(
      mat.m2-get-color-from-palette($open-ebike-accent, 500),
      transparent,
      20%
    ) !important;
  }

  .highlight,
  .component,
  .component-registered,
  .capacity-tester,
  .bike-pass,
  .installation-report,
  .service-record,
  .remote-configuration-case {
    color: mat.m2-get-color-from-palette($open-ebike-primary, 500);
  }

  .component.icon,
  .capacity-tester.icon,
  .bike-pass.icon,
  .installation-report.icon,
  .service-record.icon,
  .remote-configuration-case.icon {
    background: color.mix(
      mat.m2-get-color-from-palette($open-ebike-primary, 500),
      transparent,
      20%
    ) !important;
  }
}

//
// Dark theme
//

.theme-dark {
  @include mat.all-component-colors($theme-dark);

  a {
    color: #ffffff;
    text-decoration-style: dotted;
  }

  .container {
    background: #343332;
  }

  .ebike,
  .ebike-registered,
  .activity {
    color: mat.m2-get-color-from-palette($open-ebike-accent, 300);
  }

  .ebike.icon,
  .activity.icon {
    background: color.mix(
      mat.m2-get-color-from-palette($open-ebike-accent, 300),
      transparent,
      20%
    ) !important;
  }

  .highlight,
  .component,
  .component-registered,
  .capacity-tester,
  .bike-pass,
  .installation-report,
  .service-record,
  .remote-configuration-case {
    color: mat.m2-get-color-from-palette($open-ebike-primary, 300);
  }

  .component.icon,
  .capacity-tester.icon,
  .bike-pass.icon,
  .installation-report.icon,
  .service-record.icon,
  .remote-configuration-case.icon {
    background: color.mix(
      mat.m2-get-color-from-palette($open-ebike-primary, 300),
      transparent,
      20%
    ) !important;
  }

  // FIXME: Figure out why these overrides are necessary

  .mat-toolbar {
    color: #ffffff !important;
    background: #212121 !important;
  }

  .mat-button {
    color: #ffffff !important;
    background: transparent !important;
  }
}

//
// Other elements
//

.container {
  min-height: calc(100vh - 64px);
  align-items: center;
  justify-content: center;
}

.inner-container {
  padding: 0 16px 0;
  box-sizing: border-box;
}

@media #{$breakpoint-small} {
  .inner-container {
    width: 100%;
  }
}

@media #{$breakpoint-medium} {
  .inner-container {
    width: 960px;
  }
}

@media #{$breakpoint-large} {
  .inner-container {
    width: 960px;
  }
}

.title {
  font-weight: 600;
}

.subtitle {
  color: mat.m2-get-color-from-palette(mat.$m2-grey-palette, 500);
}

.delimiter {
  padding-left: 4px;
  padding-right: 4px;
}

.icon {
  padding: 4px;
  border-radius: 100%;
}

h2,
h3 {
  margin-top: 32px;
}

h2 .icon {
  margin-right: 8px;
}

h3 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-decoration: underline;
  margin: 0.75em 0 0.25em !important;
  line-height: 1.2em !important;
}

.list {
  list-style-type: none;
  padding-inline-start: 0;
}

.list-item {
  cursor: pointer !important;
  padding: 0 24px 0;
}

li {
  width: 100%;
}

.label {
  display: inline-block;
  width: 256px;
  max-width: 45%;
}

.ebike-registered,
.component-registered {
  padding-left: 4px;
}

.ebike-registered.icon,
.component-registered.icon {
  font-size: 18px;
  padding-left: 0;
  vertical-align: sub;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
