@use "@angular/material" as mat;
@use "theme-light";
@use "theme-dark";
@use "theme-colors";
@use "sizes";

@use "sass:color";

@include mat.all-component-themes(theme-light.$theme-light);

//
// Light theme
//

.theme-light {
  a {
    color: #424242;
    text-decoration-style: dotted;
  }

  .container {
    background: #f6f6f4;
  }

  .ebike,
  .ebike-registered,
  .activity {
    color: mat.m2-get-color-from-palette(theme-light.$open-ebike-accent, 500);
  }

  .ebike.icon,
  .activity.icon {
    background: color.mix(
      mat.m2-get-color-from-palette(theme-light.$open-ebike-accent, 500),
      transparent,
      20%
    ) !important;
  }

  .highlight,
  .component,
  .component-registered,
  .capacity-tester,
  .bike-pass,
  .installation-report,
  .service-record,
  .remote-configuration-case {
    color: mat.m2-get-color-from-palette(theme-light.$open-ebike-primary, 500);
  }

  .component.icon,
  .capacity-tester.icon,
  .bike-pass.icon,
  .installation-report.icon,
  .service-record.icon,
  .remote-configuration-case.icon {
    background: color.mix(
      mat.m2-get-color-from-palette(theme-light.$open-ebike-primary, 500),
      transparent,
      20%
    ) !important;
  }

  .bes3 {
    .icon {
      color: theme-colors.$color-chinese-blue;
      background: color.mix(
        theme-colors.$color-chinese-blue,
        transparent,
        20%
      ) !important;
    }
    .highlight {
      color: theme-colors.$color-chinese-blue;
    }
  }

  --mat-toolbar-container-background-color: #ffffff;
}

//
// Dark theme
//

.theme-dark {
  a {
    color: #ffffff;
    text-decoration-style: dotted;
  }

  .container {
    background: #343332;
  }

  .ebike,
  .ebike-registered,
  .activity {
    color: mat.m2-get-color-from-palette(theme-dark.$open-ebike-accent, 300);
  }

  .ebike.icon,
  .activity.icon {
    background: color.mix(
      mat.m2-get-color-from-palette(theme-dark.$open-ebike-accent, 300),
      transparent,
      20%
    ) !important;
  }

  .highlight,
  .component,
  .component-registered,
  .capacity-tester,
  .bike-pass,
  .installation-report,
  .service-record,
  .remote-configuration-case {
    color: mat.m2-get-color-from-palette(theme-dark.$open-ebike-primary, 300);
  }

  .component.icon,
  .capacity-tester.icon,
  .bike-pass.icon,
  .installation-report.icon,
  .service-record.icon,
  .remote-configuration-case.icon {
    background: color.mix(
      mat.m2-get-color-from-palette(theme-dark.$open-ebike-primary, 300),
      transparent,
      20%
    ) !important;
  }

  .bes3 {
    .icon {
      color: color.mix(theme-colors.$color-chinese-blue, white, 50%) !important;
      background: color.mix(
        theme-colors.$color-chinese-blue,
        transparent,
        20%
      ) !important;
    }
    .highlight {
      color: color.mix(theme-colors.$color-chinese-blue, white, 50%) !important;
    }
  }

  @include mat.all-component-colors(theme-dark.$theme-dark);
}

//
// Both themes
//

:root {
  --toolbar-menu-item-active-color: #{mat.m2-get-color-from-palette(
      theme-dark.$open-ebike-primary,
      400
    )};

  --chinese-blue-color: #{theme-colors.$color-chinese-blue};
  --liberty-blue-color: #{theme-colors.$color-liberty-blue};
  --celestial-blue-color: #{theme-colors.$color-celestial-blue};
  --pale-cyan-color: #{theme-colors.$color-pale-cyan};
  --raspberry-pink-color: #{theme-colors.$color-raspberry-pink};

  .bes2 {
    .icon {
      color: theme-colors.$color-celestial-blue;
      background: color.mix(
        theme-colors.$color-celestial-blue,
        transparent,
        20%
      ) !important;
    }
    .highlight {
      color: theme-colors.$color-celestial-blue;
    }
  }

  .cobi {
    .icon {
      color: theme-colors.$color-raspberry-pink;
      background: color.mix(
        theme-colors.$color-raspberry-pink,
        transparent,
        20%
      ) !important;
    }
    .highlight {
      color: theme-colors.$color-raspberry-pink;
    }
  }
}

//
// General
//

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 40pt;
  line-height: 1.2em;
}

h2 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: lighter;
  margin: 0.25em 0;
  margin-top: 2em;
  font-size: 18pt;
  line-height: 1.2em;
}

h3 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-decoration: underline;
  margin: 0.75em 0 0.25em !important;
  line-height: 1.2em !important;
}

a:hover {
  color: mat.m2-get-color-from-palette(mat.$m2-grey-palette, 600);
}

*:focus {
  outline: none;
}

.container {
  min-height: calc(100vh - 64px);
  align-items: center;
  justify-content: center;
}

.inner-container,
.grid-container {
  padding: 0 16px 32px;
  box-sizing: border-box;
}

@media #{sizes.$breakpoint-small} {
  .inner-container {
    width: 100%;
  }
}

@media #{sizes.$breakpoint-medium} {
  .inner-container {
    width: 960px;
  }
}

@media #{sizes.$breakpoint-large} {
  .inner-container {
    width: 960px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.title {
  font-weight: 600;
}

.subtitle {
  color: mat.m2-get-color-from-palette(mat.$m2-grey-palette, 500);
}

.delimiter {
  padding-left: 4px;
  padding-right: 4px;
}

.icon {
  padding: 4px;
  border-radius: 100%;
}

h2 .icon {
  margin-right: 8px;
}

.list {
  list-style-type: none;
  padding-inline-start: 0;
}

.list-item {
  cursor: pointer !important;
  padding: 0 24px 0;
}

li {
  width: 100%;
}

.label {
  display: inline-block;
  min-width: 256px;
  max-width: 45%;
}

.ebike-registered,
.component-registered {
  padding-left: 4px;
}

.ebike-registered.icon,
.component-registered.icon {
  font-size: 18px;
  padding-left: 0;
  vertical-align: sub;
}

//
// Flex
//

.flex-container {
  display: flex !important;
}

.flex-container-vertical {
  display: flex !important;
  flex-direction: column;
}

.flex-box {
  flex-grow: 1 !important;
}
