<ng-container *transloco="let t; lang: lang; prefix: 'pages.activities'">
  <div>
    @if (authenticationService.isLoggedIn()) {
      <mat-drawer-container hasBackdrop="true" class="drawer-container">
        <mat-drawer #drawerStart mode="over" class="drawer">
          <div class="flex-container-vertical" style="min-height: 100%">
            <div class="activity-summary">
              <h2>{{ t("terms.activities") }}</h2>
            </div>
            <mat-list class="activities-list">
              @for (
                activitySummary of activitySummaries();
                track activitySummary
              ) {
                <mat-list-item
                  mat-ripple
                  class="list-item"
                  (click)="onActivityClicked(activitySummary.id)"
                >
                  <mat-icon
                    matListItemIcon
                    class="activity icon"
                    [class.grey]="activitySummary.id != id()"
                    style="margin: 8px"
                    >route
                  </mat-icon>
                  <div matListItemTitle class="title">
                    {{ activitySummary.title }}
                  </div>
                  <div matListItemLine class="subtitle">
                    <span>{{
                      activitySummary.startTime | date: "medium"
                    }}</span>
                    <span class="delimiter">·</span>
                    <span
                      >{{
                        activitySummary.distance | metersToKilometers
                      }}
                      km</span
                    >
                  </div>
                </mat-list-item>
              } @empty {
                <mat-list-item class="list-item"
                  >{{ t("messages.no-activities") }}
                </mat-list-item>
              }
              <div class="context-box" style="margin: 24px 24px 24px">
                <div
                  [innerHTML]="
                    t('messages.missing-activities', {
                      clientId: authenticationService.clientId(),
                    })
                  "
                ></div>
              </div>
            </mat-list>
            <div class="flex-box"></div>
            <div class="activities-paginator">
              <mat-paginator
                (page)="handlePageEvent($event)"
                [length]="pageTotalLength()"
                [pageSize]="pageSize()"
                [showFirstLastButtons]="'true'"
                [pageSizeOptions]="pageSizeOptions"
                [pageIndex]="pageIndex()"
              >
              </mat-paginator>
            </div>
          </div>
        </mat-drawer>
        <mat-drawer #drawerEnd mode="over" class="drawer" position="end">
          <div class="activity-summary">
            @if (selectedActivity()) {
              <h2>{{ t("terms.activity-summary") }}</h2>
              @if (activityImages().length > 0) {
                <img
                  [src]="activityImages()[0].thumb_1024_url"
                  class="activity-image"
                  alt="activity image"
                />
              }
              <ul class="list">
                <li>
                  <strong class="label">{{ t("terms.start-time") }}</strong
                  >:
                  @if (selectedActivity()?.startTime) {
                    {{ selectedActivity()?.startTime | date: "medium" }}
                  } @else {
                    <em>{{ t("terms.undefined") }}</em>
                  }
                </li>
                <li>
                  <strong class="label">{{ t("terms.end-time") }}</strong
                  >:
                  @if (selectedActivity()?.endTime) {
                    {{ selectedActivity()?.endTime | date: "medium" }}
                  } @else {
                    <em>{{ t("terms.undefined") }}</em>
                  }
                </li>
                <li>
                  <strong class="label">{{ t("terms.timezone") }}</strong
                  >:
                  @if (selectedActivity()?.timeZone) {
                    {{ selectedActivity()?.timeZone }}
                  } @else {
                    <em>{{ t("terms.undefined") }}</em>
                  }
                </li>
                <li>
                  <strong class="label">{{
                    t("terms.duration-without-stops")
                  }}</strong
                  >:
                  @if (selectedActivity()?.durationWithoutStops) {
                    {{
                      selectedActivity()?.durationWithoutStops
                        | date: "H:mm:ss" : "UTC"
                    }}
                    h
                  } @else {
                    <em>{{ t("terms.undefined") }}</em>
                  }
                </li>
              </ul>
              <ul class="list">
                <li>
                  <strong class="label">{{ t("terms.start-odometer") }}</strong
                  >:
                  @if (selectedActivity()?.startOdometer) {
                    {{
                      selectedActivity()?.startOdometer ?? 0
                        | metersToKilometers
                    }}
                  } @else {
                    <em>{{ t("terms.undefined") }}</em>
                  }
                </li>
                <li>
                  <strong class="label">{{ t("terms.speed-average") }}</strong
                  >:
                  @if (selectedActivity()?.speed) {
                    {{ selectedActivity()?.speed?.average ?? 0 | round: 2 }}
                    km/h
                  } @else {
                    <em>{{ t("terms.undefined") }}</em>
                  }
                </li>
                <li>
                  <strong class="label">{{ t("terms.speed-maximum") }}</strong
                  >:
                  @if (selectedActivity()?.speed) {
                    {{ selectedActivity()?.speed?.maximum ?? 0 | round: 2 }}
                    km/h
                  } @else {
                    <em>{{ t("terms.undefined") }}</em>
                  }
                </li>
                <li>
                  <strong class="label">{{ t("terms.distance") }}</strong
                  >:
                  @if (selectedActivity()?.distance) {
                    {{ selectedActivity()?.distance ?? 0 | metersToKilometers }}
                    km
                  } @else {
                    <em>{{ t("terms.undefined") }}</em>
                  }
                </li>
                <li>
                  <strong class="label">{{ t("terms.elevation-gain") }}</strong
                  >:
                  @if (selectedActivity()?.elevation) {
                    {{ selectedActivity()?.elevation?.gain ?? 0 | round: 2 }}
                    m
                  } @else {
                    <em>{{ t("terms.undefined") }}</em>
                  }
                </li>
                <li>
                  <strong class="label">{{ t("terms.elevation-loss") }}</strong
                  >:
                  @if (selectedActivity()?.elevation) {
                    {{ selectedActivity()?.elevation?.loss ?? 0 | round: 2 }}
                    m
                  } @else {
                    <em>{{ t("terms.undefined") }}</em>
                  }
                </li>
              </ul>
              <ul class="list">
                <li>
                  <strong class="label">{{ t("terms.cadence-average") }}</strong
                  >:
                  @if (selectedActivity()?.cadence) {
                    {{ selectedActivity()?.cadence?.average ?? 0 | round: 2 }}
                  } @else {
                    <em>{{ t("terms.undefined") }}</em>
                  }
                </li>
                <li>
                  <strong class="label">{{ t("terms.cadence-maximum") }}</strong
                  >:
                  @if (selectedActivity()?.cadence) {
                    {{ selectedActivity()?.cadence?.maximum ?? 0 | round: 2 }}
                  } @else {
                    <em>{{ t("terms.undefined") }}</em>
                  }
                </li>
                <li>
                  <strong class="label">{{
                    t("terms.rider-power-average")
                  }}</strong
                  >:
                  @if (selectedActivity()?.riderPower) {
                    {{
                      selectedActivity()?.riderPower?.average ?? 0 | round: 2
                    }}
                  } @else {
                    <em>{{ t("terms.undefined") }}</em>
                  }
                </li>
                <li>
                  <strong class="label">{{
                    t("terms.rider-power-maximum")
                  }}</strong
                  >:
                  @if (selectedActivity()?.riderPower) {
                    {{
                      selectedActivity()?.riderPower?.maximum ?? 0 | round: 2
                    }}
                  } @else {
                    <em>{{ t("terms.undefined") }}</em>
                  }
                </li>
                <li>
                  <strong class="label">{{ t("terms.calories-burned") }}</strong
                  >:
                  @if (selectedActivity()?.caloriesBurned) {
                    {{ selectedActivity()?.caloriesBurned ?? 0 | round: 2 }}
                  } @else {
                    <em>{{ t("terms.undefined") }}</em>
                  }
                </li>
              </ul>
            }
          </div>
        </mat-drawer>
        <mat-drawer-content>
          <div class="container flex-container-vertical">
            <div class="inner-container heading">
              <h2>
                <span class="material-symbols-outlined activity icon">
                  route
                </span>
                @if (selectedActivity()) {
                  {{ selectedActivity()?.title }}
                } @else {
                  {{ t("title") }}
                }
                <span class="delimiter">·</span>
                <button mat-button (click)="drawerStart.toggle()">
                  @if (drawerStart.opened) {
                    {{ t("actions.hide-all") }}
                  } @else {
                    {{ t("actions.show-all") }}
                  }
                </button>
                @if (selectedActivity()) {
                  <span class="delimiter">·</span>
                  <button mat-button (click)="drawerEnd.toggle()">
                    @if (drawerEnd.opened) {
                      {{ t("actions.hide-summary") }}
                    } @else {
                      {{ t("actions.show-summary") }}
                    }
                  </button>
                  <span class="delimiter">·</span>
                  <button mat-button (click)="onToggleImagesClicked()">
                    @if (showImages()) {
                      {{ t("actions.hide-images") }}
                    } @else {
                      {{ t("actions.show-images") }}
                    }
                  </button>
                }
              </h2>
            </div>

            @if (mapboxService.mapboxAccessToken()) {
              <div class="map-container">
                <app-map
                  [id]="mapId"
                  [height]="mapHeight"
                  [style]="mapStyle"
                  [interactiveEnabled]="false"
                  [overlays]="overlays"
                  [imageMarkers]="showImages() ? imageMarkers : []"
                  [boundingBox]="boundingBox"
                  (mapLoadedEmitter)="mapLoaded.set($event)"
                  (onImageMarkerClickedEmitter)="onImageMarkerClicked($event)"
                ></app-map>
              </div>
            } @else {
              <div class="inner-container">
                @if (selectedActivity()) {
                  <div class="grid">
                    @for (
                      activityDetail of activityDetails();
                      track activityDetail
                    ) {
                      <mat-card mat-ripple>
                        <mat-card-content>
                          <ul class="list">
                            <li>
                              <strong class="label">{{
                                t("terms.distance")
                              }}</strong
                              >:
                              @if (activityDetail?.distance) {
                                {{ activityDetail?.distance }}
                              } @else {
                                <em>{{ t("terms.undefined") }}</em>
                              }
                            </li>
                            <li>
                              <strong class="label">{{
                                t("terms.altitude")
                              }}</strong
                              >:
                              @if (activityDetail?.altitude) {
                                {{ activityDetail?.altitude }} m
                              } @else {
                                <em>{{ t("terms.undefined") }}</em>
                              }
                            </li>
                            <li>
                              <strong class="label">{{
                                t("terms.speed")
                              }}</strong
                              >:
                              @if (activityDetail?.speed) {
                                {{ activityDetail?.speed }} km/h
                              } @else {
                                <em>{{ t("terms.undefined") }}</em>
                              }
                            </li>
                            <li>
                              <strong class="label">{{
                                t("terms.cadence")
                              }}</strong
                              >:
                              @if (activityDetail?.cadence) {
                                {{ activityDetail?.cadence }} rpm
                              } @else {
                                <em>{{ t("terms.undefined") }}</em>
                              }
                            </li>
                            <li>
                              <strong class="label">{{
                                t("terms.latitude")
                              }}</strong
                              >:
                              @if (activityDetail?.latitude) {
                                {{ activityDetail?.latitude }}
                              } @else {
                                <em>{{ t("terms.undefined") }}</em>
                              }
                            </li>
                            <li>
                              <strong class="label">{{
                                t("terms.longitude")
                              }}</strong
                              >:
                              @if (activityDetail?.longitude) {
                                {{ activityDetail?.longitude }}
                              } @else {
                                <em>{{ t("terms.undefined") }}</em>
                              }
                            </li>
                            <li>
                              <strong class="label">{{
                                t("terms.riderPower")
                              }}</strong
                              >:
                              @if (activityDetail?.riderPower) {
                                {{ activityDetail?.riderPower }} W
                              } @else {
                                <em>{{ t("terms.undefined") }}</em>
                              }
                            </li>
                          </ul>
                        </mat-card-content>
                        <mat-card-actions></mat-card-actions>
                        <mat-card-footer></mat-card-footer>
                      </mat-card>
                    }
                  </div>
                }
              </div>
              <div class="flex-box"></div>
            }
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    }
  </div>
</ng-container>
