@use "@angular/material/index" as mat;
@import "../../../../styles";

mat-card {
  cursor: pointer;
}

mat-card-content {
  margin-bottom: 0 !important;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 16px;
}
