<div
  class="component-container flex-container full-width"
  [class]="themeService.theme()"
>
  @if (!playing()) {
    @if (progress() >= 100) {
      <button mat-icon-button (click)="onReplayClicked()">
        <span class="material-symbols-outlined">replay</span>
      </button>
    } @else {
      <button mat-icon-button (click)="onPlayClicked()">
        <span class="material-symbols-outlined">play_arrow</span>
      </button>
    }
  } @else {
    <button mat-icon-button (click)="playing.set(false)">
      <span class="material-symbols-outlined">pause</span>
    </button>
  }
  <mat-slider style="flex: 1">
    <input
      type="range"
      [(ngModel)]="progress"
      [disabled]="playing()"
      matSliderThumb
    />
  </mat-slider>
  <button
    mat-icon-button
    [disabled]="!recordingExists()"
    (click)="downloadClickedEmitter.emit()"
  >
    <span class="material-symbols-outlined">download</span>
  </button>
  <button
    mat-icon-button
    [disabled]="!recordingExists()"
    (click)="shareClickedEmitter.emit()"
  >
    <span class="material-symbols-outlined">share</span>
  </button>
</div>
