@use "../../../styles";
@use "../../../sizes";

.component-container {
  margin-top: 4px;
  padding: 4px;
  border-radius: 8px;
}

.button-container {
  width: 48px;
}

.full-width {
  width: 100%;
}
